<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Forex trading platform demo</title>

</head>
<body>

<div id="main-content" class="container">
    <h2 class="bg-info text-center"> This is page for forex trading platform performance test purposes using Oanda API</h2>
        <div class="row">
            <div class="col-md-4" th:each="instrument : ${instruments}">
    <p th:text="${instrument.description}" class="bg-primary text-center"></p>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Bid price</th>
            <th>Ask price</th>
        </thead>
        <tbody>
        <tr th:each="singlequote : ${quotations}" class="active">
                <span th:if="${singlequote.instrument.description == instrument.description}">
                    <td th:text="${singlequote.bidPriceBucket.id}">"</td>
                    <td th:text="${singlequote.bidPriceBucket.price}">"</td>
                    <td th:text="${singlequote.askPriceBucket.price}"></td>
                    </span>
        </tr>
        </tbody>
    </table>
</div>
</div>
</div>
</body>
</html>