<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forex Trading platform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="openTransactionsProfitValuation.js"></script>
    <script src="tradeAjax.js"></script>
    <script src="profitValuation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.5/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3mobile.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" th:href="@{'/'}">Forex trading platform</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/'}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active"><a class="nav-link">|</a></li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                    Transactions
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" th:href="@{'/opentransactions'}">Open transactions</a>
                    <a class="dropdown-item" th:href="@{'/closedtransactions'}">Closed transactions</a>
                </div>
            </li>
            <li class="nav-item active"><a class="nav-link">|</a></li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/accountDetails'}">Account details</a>
            </li>
            <li class="nav-item active"><a class="nav-link">|</a></li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                    Messages menu
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">New Message</a>
                    <hr>
                    <a class="dropdown-item" href="#">Inbox</a>
                    <a class="dropdown-item" href="#">Outbox</a>
                </div>
            </li>
        </ul>
        <form class="form-inline">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{'/usersRanking'}">Users ranking</a>
                </li>
                <li class="nav-item active"><a class="nav-link"  th:text="'Balance: ' + ${#numbers.formatDecimal(loggedUserBalance, 1, 'WHITESPACE',2, 'COMMA')} + ' PLN'">Balance: [nominal]</a></li>
                <li class="nav-item active"><a class="nav-link"  th:text="'Blocked: ' + ${#numbers.formatDecimal(loggedUserBlockedAmount, 1, 'WHITESPACE', 2, 'COMMA')} + ' PLN'">Blocked: [nominal]</a></li>
                <li class="nav-item active"><a class="nav-link"  th:text="'Hello ' + ${loggedUser.username}+'!'">Welcome: [username]</a></li>
            </ul>
            <a th:href="@{'/logout'}" class="btn btn-outline-light my-2 my-sm-0">Log out</a>
        </form>
    </div>
</nav>
<div class="container">
    <h1 class="w-90 p-3 align-content-center" th:text="${loggedUser.username}+', write message'">${user.username}! Write message</h1>
    <div class="card">
        <div class="card-body">
            <form method="post" th:href="@{'/sendMessage'}"
                  th:object="${message}" role="form" style="display: block;">
                <h4 class="w-90 p-3 align-content-center">New message</h4>
                <input class="form-control" type="text" th:placeholder="${loggedUser.username}" readonly/>
                <hr>
                <h6 class="w-90 p-3 align-content-center">Send to:</h6>

                <div class="form-group">
                    <select class="form-control" th:field="*{reciver}">
                        <option th:each="reciver : ${recivers}"
                                th:value="${reciver.id}"
                                th:text="${reciver.username}">username</option>
                    </select>
                </div>
                <hr>
                <div class="form-group">
                    <textarea th:field="*{text}" type="textarea" name="textarea" id="textarea" rows="3" tabindex="1" class="form-control" placeholder="Type message" value=""/>
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control btn btn-success" value="Send message">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>